{% extends "partials/base.html" %}
{% load static %}


{% block title %}
{{ album.title }}
{% endblock title %}

{% block content %}
<h2>{{ album.title }}</h2>

{% if album.album_cover %}
    <img width="100" height="100" src="{{ album.album_cover.url }}" alt="{{ album.title }} Cover Image">
{% else %}
    <p>Default Image</p>
    <img width="100" height="100" src="{% static 'images/default_album_image.jpg' %}" alt="Default Album Cover Image">
{% endif %}

<p>By: {{ album.artist }}</p>
<p>Released on: {{ album.release_date }}</p>

{% endblock content %}